<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>List of authors</title>
</head>
<body>
<h1>Authors List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.authorId}">123</td>
        <td th:text="${author.firstName}">first name</td>
        <td th:text="${author.lastName}">last name</td>
    </tr>
</table>
</body>
</html>