<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>List of books</title>
</head>
<body>
<h1>Book List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.bookId}">123</td>
        <td th:text="${book.title}">Spring in aciton</td>
        <td th:text="${book.publisher.name}">Wrox</td>
    </tr>
</table>
</body>
</html>